# ==============================================================================
# CONFIGURACION DE ENTORNO PARA RAPTURE BIOMETRICS MOBILE (REACT NATIVE / EXPO)
# ==============================================================================
# Variables accesibles en tiempo de compilacion y ejecucion via process.env.EXPO_PUBLIC_*

# URL completa del endpoint API REST del backend
EXPO_PUBLIC_API_URL=http://192.168.30.104:3000/api/v1

# Parametros desglosados de conexion (empleados si EXPO_PUBLIC_API_URL no esta definida)
EXPO_PUBLIC_BACKEND_HOST=192.168.30.104
EXPO_PUBLIC_BACKEND_PORT=3000
EXPO_PUBLIC_API_PREFIX=/api/v1

# Parametros regionales y de geolocalizacion
EXPO_PUBLIC_TIMEZONE=America/Caracas
EXPO_PUBLIC_TIME_FORMAT=12h
EXPO_PUBLIC_GPS_HIGH_ACCURACY_THRESHOLD_METERS=25
